In [88]:
#import 2 libs (numpy and pandas) to work with arrays and dataframes
import pandas as pd
import numpy as np

In [94]:
#create random dataframe 2 columns*10000000 rows
#cells get random integer value between 1 and 6
df = pd.DataFrame(np.random.randint(1,7,size=(10000000, 2)), columns=list('12'))
#check dataframe
df.head()

   1  2
0  6  6
1  6  5
2  1  4
3  2  2
4  6  1

In [91]:
#create new column, witch summarize values in row
df['summary'] = df['1']+df['2']
#count cells in 3 column, wich above 10, and devide this value by quantity of rows 
# for calculating probability
probability = (df['summary']>10).sum()/df.shape[0]
print (probability)

0.0833322